/* Styles principaux de l'app */
:host {
  display: block;
  min-height: 100%;
  background: rgb(244, 245, 243);
}

main {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  padding: 0;
  min-height: calc(100vh - 60px);
  background: rgb(244, 245, 243);
}
